/* normalisation de ma page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* balise native*/

html body {
    color: #222;
    font-family: 12px;
}

a{
    text-decoration: none;
    color: white;
}
/* Header*/

header{
overflow: auto;
background-color: #333;
}

header h1{
    padding: 1.23rem;
    background-color:#333;
    color: white;
    float: left;
}

nav{
    padding: 1rem 0 1.9rem 0;
}

ul li a:hover{
    background-color: whitesmoke;
}

nav ul li{
    padding: 1rem;
    display: inline;
    float: right;
}


/* section1*/

.section1 {
background-image: url(images/frame.jpg);
background-position:center center;
background-size: cover;
padding : 1.9rem;
width: 100%;
height: 400px;
color: white;
}

.section1 div hr{
    width: 5rem;
    height: 6px;
    background-color: black;
    display: inline-block;

}

/* h2 section 1*/
.section1 div h2{
text-align: center;
font-size: 3rem;
font-style: bold;
}


/* p de la section 1 */

.section1 div p{
    text-align: center;
    font-size: 1.5rem;
    font-style: bold;
    }

.
/* bouton decouvrir*/

.section1 div a{
    text-align: center;
}
.section1 div a:hover{
    background-color: whitesmoke;
}
