/* normalisation de ma page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* balise native*/

html body {
    color: #222;
    font-family: 12px;
}

a{
    text-decoration: none;
    color: white;
}
/* Header*/

header{
overflow: auto;
background-color: #333;
}

header h1{
    padding: 1.23rem;
    background-color:#333;
    color: white;
    float: left;
}

nav{
    padding: 1rem 0 1.9rem 0;
}

ul li a:hover{
    background-color: whitesmoke;
}

nav ul li{
    padding: 1rem;
    display: inline;
    float: right;
}


/* section1*/

.section1 {
background-image: url(images/frame.jpg);
background-position:center center;
background-size: cover;
padding : 1.9rem 1.9rem;
width: 100%;
height: 100%;
color: white;
text-align: center;
}

.section1 div hr{
    width: 5rem;
    height: 6px;
    background-color: black;
    display: inline-block;

}

/* h2 section 1*/
.section1 div h2{
text-align: center;
font-size: 3rem;
font-style: bold;
}


/* p de la section 1 */

.section1 div p{
    text-align: center;
    font-size: 1.5rem;
    font-style: bold;
    }

/* bouton decouvrir*/

.section1 div a{
    text-align: center;
    background-color: black;
    font-size: 1.5rem;
    border-radius: 30px;
}
.section1 div a:hover{
    background-color: grey;
}

/* section 2*/

.section2{

    text-align: center;
    margin: 5rem;
}

/* section 2 div de gauche*/

.section2 #div2g{
display: inline-block;
flex-direction: column;
width: 50%;
}

/* section 2 div de droite*/

.section2 #div2d{
    display: inline-block;
    flex-direction: column;
    width: 50%;
    float: right;
}


/* image 2*/
.image2{
    background-image: url(/images/person-1.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 20rem;
}

/* section 3*/

.section3{
    text-align: center;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2rem;
    font-style: bold;
    margin: 1rem;
}

.section3 p {
    margin: 3rem 1rem;
}

/* section 3 lien*/

.section3 a{
    background-color: black;
    font-size: 1.5rem;
    border-radius: 30px;
}

.section3 a:hover{
    background-color: grey;
}

/* footer page # */

footer{
    background-color: #333;
    height: 2rem;
    color: whitesmoke;
    text-align: center;
    display: block;
    font-size: 1rem;
    justify-content: center;
    position:absolute;
    bottom:0;
    width: 100%;
}

/* section4 page where*/

.section4{
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 2rem;
}

.section4 #map{
    flex-direction: column;
    float:left;
    display: inline-block;
    width: 50%;

}

.section4 #infowhere{
flex-direction: column;
float:right;
margin-top: 5rem;
text-align: center;
display: inline-block;
width: 50%;
height: 50%;
}

/* h3 page where*/

.h3pagewhere{
    font-size: 3rem;
}

/* p de la section 4 page Where*/
#infowhere .parapagewhere{
    font-size: 3rem;
    display: inline-block;
}

/* span du p section 4*/

#span1{
    background-color: red;
    color: white;
    font-size: 2rem;
    border-radius: 30px;
}

#span2{
    background-color:grey;
    color: white;
    font-size: 2rem;
    border-radius: 30px;
}

/* page where */

.section5 .divwhere{
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
}

.section5 .divwhere #form{
    flex-direction: column;
    position: relative;
}